.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    background: #2196f3;
    /* כחול */
    width: 0;
    animation: loading 2s ease-in-out infinite;
    z-index: 2000;
}

@keyframes loading {
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: 80%;
        left: 10%;
    }

    100% {
        width: 100%;
        left: 0;
    }
}

.my-gradient {
    background: linear-gradient(135deg, #f7937e, #fcb69f);
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 1rem;
    direction: rtl;
}